body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-sizE: 24px;
    margin: auto;
    padding: 5px;
}

#main-bio {
    float: left;
    width: 65%;
    margin-left: 1%;
}

#contact-info {
    float: left;
    width: 30%;
    line-height: 1.5;
    margin-left: 1%;
}

a {
    color:#d21034;
}

#bio-image {
    float: left;
    width: 200px;
    padding: 10px;

}